<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit: {{title}}</h3>
  </div>
  <div class="panel-body">
	<form>
		<div class="form-group">
			<label for="title">
				Title
			</label>
			<input id="title"
				class="form-control"
				type="text"
				name="title"
				value="{{title}}" />

			<label for="image">
				Image file
			</label>
			<input id="image"
				class="form-control"
				type="file"
				name="image"
				value="{{image}}" />
			<button class="submit-image">upload</button>

			<label for="image">
				Image url
			</label>
			<input id="image"
				class="form-control"
				type="text"
				name="imageUrl"
				value="{{image}}" />
			{{#each media}}
			<div>
				<img url="{{url}}"/>
			</div>
			{{/each}}
			<label for="description">
				Description
			</label>
			<textarea id="description"
				class="form-control"
				name="description">{{description}}</textarea>

			<ul>
			{{#forEach ingredients}}
				<li data-index="{{key}}">
					<input type="text" name="name" value="{{value.name}}"/>
					<input type="text" name="description" value="{{value.description}}"/>
				</li>
			{{/forEach}}
			</ul>
			<button class="add-ingredient" type="cancel">add ingredient</button>

			<br/>
			<button class="btn btn-default submit" type="submit">submit</button>
		</div>
	</form>
  </div>
</div>