<div>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <div class="btn-group" role="group" aria-label="...">
    {{#owner this}}
    <a href="/products/{{name}}/edit" class="btn btn-default">edit</a>
    {{/owner}}
    <a href="/checkout/{{_id}}" class="btn btn-default">buy it</a>
  </div>

  {{#each media}}
  	<img src="{{url}}"/>
  {{/each}}
  {{#each ingredients}}
  	<h5>{{name}}</h5>
  	<p>{{description}}</p>
  {{/each}}

</div>