<div>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  {{#owner this}}
  <a href="/products/{{name}}/edit" class="btn btn-default">edit</a>
  {{/owner}}

  {{#each media}}
  	<img src="{{url}}"/>
  {{/each}}
  {{#each ingredients}}
  	<h5>{{name}}</h5>
  	<p>{{description}}</p>
  {{/each}}

</div>