<a href="/{{producer.username}}/{{name}}">
  <div class="row">
  
    <div class="col-xs-8">
      <h3>{{title}}</h3>
      <br>
      <small class="text-muted">
        ${{price}},{{#each ingredients}} {{name}}{{/each}}
      </small>
    </div>
    <div class="col-xs-4">
      {{#if media.[0]}}
      <img class="product-main-img img-circle" src="{{media.0.url}}"/>
      {{/if}}
    </div>
  </div>
</a>
